@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: normal;
  src: local('Aller'), url('../fonts/Aller_Rg.woff2') format('woff2');
}

@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: bold;
  src: local('Aller Bold'), url('../fonts/Aller_Bd.woff2') format('woff2');
}

@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 200;
  src: local('Aller'), url('../fonts/aller_lt-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 200;
  src: local('Aller Bold'), url('../fonts/aller_ltit-webfont.woff2') format('woff2');
}

:root,
:host {
  --td-primary: #205493;
  --td-secondary: #0071bc;
  --td-background: #046b99;
  --td-dark: #1B3B67;
  --td-light: #8CC4DF;
  --font-primary: Aller,"Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
  --font-secondary: Aller, Arial, Helvetica, sans-serif;
  --gap-xxxs: clamp(2.5px, calc(0.15625rem + (5 - 2.5) * ((100vw - 768px) / (1550 - 768))), 5px);
  --gap-xxs: clamp(5px, calc(0.3125rem + (10 - 5) * ((100vw - 768px) / (1550 - 768))), 10px);
  --gap-xs: clamp(10px, calc(0.625rem + (20 - 10) * ((100vw - 768px) / (1550 - 768))), 20px);
  --gap-sm: clamp(20px, calc(1.25rem + (30 - 20) * ((100vw - 768px) / (1550 - 768))), 30px);
  --gap-m: clamp(30px, calc(1.875rem + (40 - 30) * ((100vw - 768px) / (1550 - 768))), 40px);
  --gap: clamp(30px, calc(1.875rem + (50 - 30) * ((100vw - 768px) / (1550 - 768))), 50px);
  --gap-xl: clamp(40px, 5vw, 75px);
}

$mq-lg-phone: 500px;
$mq-sm-tab: 640px;
$mq-m-tab: 728px;

body,
a,
p,
div {
  font-family: var(--font-primary);
  font-weight: 200;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

.page-title {
  color: var(--td-primary);
}

.field--name-schema-date-published {
  color: var(--td-primary);
  font-size: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 1020px;
}

figure {
  margin: 2rem 0;
}

figcaption {
  color: var(--td-primary);
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

td {
  border: 1px solid var(--td-primary);
  padding: 2px 5px;
  height: 1.75rem;
}

tr.odd {
  background-color: #e4e2e0;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--td-secondary);
}

h2 {
  color: var(--td-primary);
  font-size: 1.5rem;
}

.field--name-field-media-oembed-video {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.field--name-field-media-oembed-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.toolbar-oriented .toolbar-bar {
  z-index: 9999;
}

.user-logged-in {
  padding-bottom: 58.4px;
}

.drupal-nav {
  align-items: center;
  background-color: var(--td-secondary);
  bottom: 0;
  border-top: 1px solid var(--td-primary);
  display: flex;
  flex-wrap: wrap;
  height: 58.4px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.drupal-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xs) 0;
  justify-content: center;
  list-style-type: none;
  margin: 0 calc(var(--gap-sm) / 2 * -1);

  > * {
    padding: 0 calc(var(--gap-sm) / 2);
  }

  a {
    font-weight: 400;
  }
}

.field__label {
  color: var(--td-primary);
  font-size: 1.5rem;
  margin-top: 2rem;

  .layout__region.layout__region--second & {
    margin-bottom: 1rem;
  }
}

.layout--twocol-section.layout--twocol-section--75-25 > .layout__region--first > * {
  @media only screen and (min-width: $mq-sm-tab) {
    margin-right: 2rem;
  }
}

.region-header {
  background-color: var(--td-light);
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  margin-bottom: 12rem;
  @media only screen and (min-width: $mq-sm-tab) {
    margin-bottom: 7.5rem;
  }

  .block-menu {
    margin-left: auto;

    ul.menu {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      padding: 0 1rem;
    }

    a {
      color: var(--td-dark);
      font-size: 1.5rem;
      text-decoration: none;
    }

    a:hover,
    a.is-active {
      text-decoration: underline;
    }
  }

  .search-block-form {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.page-node-type-podcast-episode {
  .node--type-person {
    h2 {
      color: var(--td-secondary);
      font-size: 1.15rem;
      margin-bottom: 0;

      a {
        color: var(--td-secondary);
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.field--name-field-motw {
  a {
    display: block;
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}

.episode-list {
  time {
    display: flex;
    padding: 0.25rem 0;
  }

  .views-field-title a {
    color: var(--td-primary);
    display: block;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .views-field-schema-date-published {
    color: var(--td-primary);
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }

  .views-field-nid {
    a {
      background-color: var(--td-background);
      border-radius: 4px;
      color: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 1rem 1rem 0;
      padding: 1rem;
      text-decoration: none;
      width: 100px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;

  @media only screen and (min-width: 728px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    padding: 0;
  }
}

.layout-content {
  @media only screen and (max-width: $mq-lg-phone) {
    margin-top: 2rem;
  }
  @media only screen and (min-width: $mq-m-tab) {
    grid-area: 1 / 1 / 6 / 5;
    padding-left: 1rem;
  }
}

.layout-sidebar-second {
  @media only screen and (min-width: $mq-m-tab) {
    grid-area: 1 / 5 / 6 / 6;
    margin-top: 7.5rem;
  }
}

.region-sidebar-second {
  a.button {
    background-color: var(--td-background);
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 1rem 1.5rem 0;
    padding: 0.5rem;
    text-decoration: none;
  }
}

.region-header .search-block-form {
  margin-right: 2rem;

  .form-type-search input {
    height: 2rem;
  }

  .form-actions input {
    background-color: var(--td-background);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 0.5rem 1rem;
  }
}

.site-logo {
  display: flex;
  height: 100%;

  img {
    padding: 0.5rem 1rem;
    max-height: 9rem;
    margin-left: 6.25rem;
    margin-top: 0.625rem;
  }
}

.field--type-datetime {
  padding-bottom: 0.5rem;
}

.libsyn {
  h2 {
    margin-top: 2rem;
  }

  .download {
    display: flex;
    padding: 1rem 0 2rem;
  }
}

.view-hosts,
.view-guests {
  .views-row {
    padding-bottom: 1rem;
  }

  .field-content {
    padding-top: 1rem;
  }

  a {
    font-size: 1.25rem;
  }
}

tbody td {
  height: 50px;
  padding: 0 10px;
}

.field-content,
p,
div {
  line-height: 1.4;
}
