{% for item in items %}
 <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.78 5.113C14.09 3.425 12.48 1.815 11.998 0c-.48 1.815-2.09 3.425-3.778 5.113c-2.534 2.53-5.405 5.4-5.405 9.702a9.184 9.185 0 1 0 18.368 0c0-4.303-2.871-7.171-5.405-9.702M6.72 16.954c-.563-.019-2.64-3.6 1.215-7.416l2.55 2.788a.22.22 0 0 1-.016.325c-.61.625-3.204 3.227-3.527 4.126c-.066.186-.164.18-.222.177M12 21.677a3.16 3.16 0 0 1-3.158-3.159a3.3 3.3 0 0 1 .787-2.087c.57-.696 2.37-2.655 2.37-2.655s1.774 1.988 2.367 2.649a3.1 3.1 0 0 1 .792 2.093A3.16 3.16 0 0 1 12 21.677m6.046-5.123c-.068.15-.223.398-.431.405c-.371.014-.411-.177-.686-.583c-.604-.892-5.864-6.39-6.848-7.455c-.866-.935-.122-1.595.223-1.94C10.736 6.547 12 5.285 12 5.285s3.766 3.574 5.336 6.016s1.029 4.556.71 5.253"/></svg> {{ item.content }}
{% endfor %}
