{% for item in items %}
  <div class="libsyn">
    <h2>Listen:</h2> 
    <audio controls autoplay="false">
        <source src="{{ item.content }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a class="download" href="{{ item.content }}" download="tdEpisode.mp3">direct Link</a>
  </div>
{% endfor %}
